$white: #ffffff;
$light_grey: #f9f9f9;
$dark_grey: #292d36;
$black: #000000;
$border_radius: .5rem;
$active_icon: #53555c;
$icon: #e2e2e2;
$operator: #f47a7b;
$spec: #30fbd6;

$button_light: #f7f7f7;
$button_dark: #272b33;